<div class="container">
    <div class="user-details">
        <h3> My Expertise </h3>
        <p> {{site.user_description}} </p>
    </div>
    <div class="row user">
        <h3>Technology I am most familiar with</h3>
        <div style="margin-right: auto; margin-left: auto;">
            <div class="four columns">
                <i class="devicon-nginx-original colored"></i>
                <i class="devicon-mysql-plain-wordmark colored"></i>
                <i class="devicon-php-plain colored"></i>
                <i class="devicon-python-plain-wordmark colored"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark colored"></i>
            </div>
            <div class="four columns">
                <i class="devicon-javascript-plain colored"></i>
                <i class="devicon-jquery-plain-wordmark colored"></i>
                <i class="devicon-apache-plain-wordmark colored"></i>
                <i class="devicon-debian-plain-wordmark colored"></i>
                <i class="devicon-heroku-plain-wordmark colored"></i>
                <i class="devicon-wordpress-plain-wordmark colored"></i> 
            </div>
            <div class="four columns">
                <i class="devicon-git-plain"></i>
                <i class="devicon-vim-plain colored"></i>
                <i class="devicon-linux-plain colored"></i>
                <i class="devicon-bootstrap-plain colored"></i>
                <i class="devicon-github-plain-wordmark colored"></i>
                <i class="devicon-apple-original colored"></i>
            </div>
        </div>
        <h3>Hall of Fame & Publications</h3>
        <h5><a style="font-size: 0.2em;" href="https://hackerone.com/hyde">Hackerone Profile</a></h5>
        <h5><a style="font-size: 0.2em;"  href="https://www.fastmail.com/about/bugbounty.html">Fastmail Hall of Fame</a></h5>
        <h5><a style="font-size: 0.2em;"  href="https://bugbounty.att.com/hof.php">AT&T Hall of Fame</a></h5>
        <h5><a style="font-size: 0.2em;" href="https://www.theregister.co.uk/2018/08/07/openemr_vulnerabilities/">Hey, you know what a popular medical record system doesn't need? 23 security vulnerabilities</a></h5>
        <h5><a style="font-size: 0.2em;" href="https://www.bbc.com/news/technology-45083778">Health records 'put at risk by security bugs'</a></h5>
        <h5><a style="font-size: 0.2em;" href="https://www.zdnet.com/article/openemr-security-flaws-left-millions-of-patient-records-open-to-attack/">OpenEMR security flaws could have exposed millions of patient records</a></h5>
        <h5><a style="font-size: 0.2em;" href="https://gizmodo.com/medical-records-of-90-million-people-left-vulnerable-to-1828156611">Medical Records of 90 Million People Left Vulnerable to Critical Security Flaws</a></h5>
        <h3>My Write-up's</h3>
        <h5><a style="font-size: 0.2em;" href="https://medium.com/@0xHyde/yahoo-two-xssi-vulnerabilities-chained-to-steal-user-information-750-bounty-e9bc6a41a40a">Yahoo — Two XSSi vulnerabilities chained to steal user information. ($750 Bounty)</a></h5>
        <h5><a style="font-size: 0.2em;" href="https://medium.com/bugbountywriteup/bug-bounty-fastmail-feeda67905f5">Bug Bounty: Fastmail</a></h5>
        <h5><a style="font-size: 0.2em;" href="https://medium.com/@0xHyde/exploiting-history-back-3ec789c124dd">Phishing with history.back() open redirect</a></h5>
    </div>
  </div>
</div>
