<div class="container">
    <div class="user-details">
        <h3> My Expertise </h3>
        <p> {{site.user_description}} </p>
    </div>
    <div class="row user">
        <h3>Technology I am most familiar with</h3>
        <div style="margin-right: auto; margin-left: auto;">
            <div class="four columns">
                <i class="devicon-nginx-original colored"></i>
                <i class="devicon-mysql-plain-wordmark colored"></i>
                <i class="devicon-php-plain colored"></i>
                <i class="devicon-python-plain-wordmark colored"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark colored"></i>
            </div>
            <div class="four columns">
                <i class="devicon-javascript-plain colored"></i>
                <i class="devicon-jquery-plain-wordmark colored"></i>
                <i class="devicon-apache-plain-wordmark colored"></i>
                <i class="devicon-debian-plain-wordmark colored"></i>
                <i class="devicon-heroku-plain-wordmark colored"></i>
                <i class="devicon-wordpress-plain-wordmark colored"></i> 
            </div>
            <div class="four columns">
                <i class="devicon-git-plain"></i>
                <i class="devicon-vim-plain colored"></i>
                <i class="devicon-linux-plain colored"></i>
                <i class="devicon-bootstrap-plain colored"></i>
                <i class="devicon-github-plain-wordmark colored"></i>
                <i class="devicon-apple-original colored"></i>
            </div>
        </div>
    </div>
  </div>
</div>
