<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> PwnBar </h5>
      <p>I love the Hackbar extension for Firefox, however I have noticed that it has become slightly dated recently. I would like to change that by creating a new and improved hackbar with loads of new features.<p>
      <a class="project-link" href="https://github.com/h-yde/PwnBar">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> REST-API-Fuzzer </h5>
      <p>Since a lot of the work I do involves fuzzing REST endpoints, I would like to create a tool to speed up the process of identifying vulnerabilities.</p>
      <a class="project-link" href="https://github.com/h-yde/REST-API-Fuzzer">Check it out</a>
    </div>
  </div>
</div>
